.test-tube-loader {
  position: relative;
  width: 22.5px;
  height: 75px;
  display: block;
}

.test-tube-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background: none;
}

.test-tube-glass {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #B5F0E8;
  opacity: 0.7;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  z-index: 2;
}

.test-tube-cap-left {
  position: absolute;
  width: 50%;
  height: 15%;
  top: -15%;
  background: #5b5b5a;
}

.test-tube-cap-right {
  position: absolute;
  width: 50%;
  height: 15%;
  top: -15%;
  right: 0%;
  background: #3C3C3B;
}

.test-tube-fill {
  position: absolute;
  height: 0%;
  width: 80%;
  background: var(--labgate-brand, #4E8B3B);
  opacity: 1;
  bottom: 5%;
  left: 10%;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  animation: test-tube-slime 1.5s infinite;
  z-index: 1;
}

.test-tube-bubble {
  position: absolute;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
}

.test-tube-bubble-1 {
  height: 10%;
  width: 35%;
  top: 10%;
  left: 15%;
}

.test-tube-bubble-2 {
  height: 8%;
  width: 33%;
  top: 25%;
  right: 15%;
}

.test-tube-bubble-3 {
  height: 10%;
  width: 35%;
  top: 40%;
  left: 15%;
}

.test-tube-bubble-4 {
  height: 8%;
  width: 33%;
  top: 55%;
  right: 15%;
}

.test-tube-bubble-5 {
  height: 8%;
  width: 33%;
  top: 75%;
  left: 15%;
}

@keyframes test-tube-slime {
  0% { height: 0%; }
  10% { height: 10%; }
  15% { height: 15%; }
  20% { height: 20%; }
  25% { height: 25%; }
  30% { height: 30%; }
  35% { height: 35%; }
  40% { height: 40%; }
  45% { height: 45%; }
  50% { height: 50%; }
  55% { height: 55%; }
  60% { height: 60%; }
  65% { height: 65%; }
  70% { height: 70%; }
  75% { height: 75%; }
  80% { height: 80%; }
  85% { height: 85%; }
  90% { height: 90%; }
  95% { height: 92%; }
  100% { height: 93%; }
}
